# Byte-compiled / optimized / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Operating System files
.DS_Store
Thumbs.db

# IDE & Editor settings
.vscode/
.idea/

# Temporary & archive files
archive/
*.tmp
*.log
